@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fira+Sans:wght@100;300&family=Geologica:wght@100;300&family=IBM+Plex+Mono:wght@200;300&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&family=Silkscreen&family=Titillium+Web:wght@200&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fira+Sans:wght@100;300&family=Geologica:wght@100;300&family=IBM+Plex+Mono:wght@200;300&family=Open+Sans:wght@300;400&family=Oswald:wght@200;300&family=Quicksand:wght@300;400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&family=Silkscreen&family=Titillium+Web:wght@200&family=VT323&display=swap');


*{
    margin: 0;
    padding: 0;
}

header {
    font-family: 'DotGothic16', sans-serif;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo img {
    max-width: 90px;
    margin-left: 12rem;
    margin-top: -9px;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #4B0082;
    box-shadow: 0 0 1rem black;
}

ul{
    display: flex;
    margin: 29px;
    margin-right: 12rem;
}

li{
    list-style-type: none;
    cursor: pointer;
    padding-left: 20px;
}

li:hover {
    color: #C71585;
}

a { color: inherit;
    text-decoration: none;
} 

#título {
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold; 
    color: #4B0082;
    text-align: center; 
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between; 
    }

    .logo img {
        max-width: 70px; 
        margin-left: 10px;
        margin-top: 5px; 
    }

    ul {
        margin: 10px; 
        margin-right: 10px; 
    }

    li {
        padding-left: 10px; 
        padding-right: 10px;
    }

    h1 {
        font-size: 24px; 
    }
}


body{
    background-image: url('../../img/fundo.jpg');
    background-size: cover;
    position: relative;
    width: 100vw;
    background-color: pink;
    margin-top: 120px;
    color: #4B0082;
    font-family: 'Fira Sans', sans-serif;    
}

.linguagem img{
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-left: 40%;
}

.bloco{
    display: inline-block;
    justify-content: center; 
    align-items: center;
    height: 100%;

}


#html img{
    height: auto;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 5%;
}

h4{
    text-align: justify;
    font-size: 17px;
    padding-left: 5%;
    padding-right: 5%;
}

#css img{
    height: auto;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 70%;
}

#js img{
    height: auto;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 5%;
}

.linguagens{
    padding-left: 30%;
    padding-right: 30%;
}

.corpo{
    width: 40%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.corpo img{
    width: 60%;
}

#topo{
    width: 40%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

#topo img{
    width: 10%;
}